.App {
    min-height: 100vh;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.search-form {
    min-width: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 50%;
    border: none;
    padding: 20px;
    margin: 30px 0;
    font-size: 20px;
    border-radius: 10px 0 0 10px;
}

.search-button {
    background: lightcoral;
    border: none;
    padding: 20px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    margin: 20px 0;
    font-size: 20px;
    border-radius: 0 10px 10px 0;
}

.recipes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}